.image-container {
  position: relative;
  display: inline-block;
  padding: 0px 16px;
  gap: 10px;
  display: flex;
}

.name-label {
  position: absolute;
  bottom: 41px;
  right: 50px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  color: rgba(204, 204, 204, 1);
}

.name-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
}

.text-box {
  width: 100%;
  height: 52px;
  padding: 11px 14px 11px 8px;
  margin-top: 12px;
  border-radius: 60px;
  border: 4px solid rgba(237, 242, 247, 1);
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #555555;
  box-sizing: border-box;
}

.text-box.error {
  border-color: rgba(255, 231, 222, 1);
  background-color: rgba(255, 245, 241, 1);
}

.text-box:focus {
  border-color: rgba(85, 85, 85, 0.16);
  outline: none;
}

::placeholder {
  color: rgba(204, 204, 204, 1);
}

.error-message {
  color: rgba(245, 88, 82, 1);
  font-size: 0.85em;
  display: none;
  margin: 8px 5px 0;
}

.error-message.show {
  display: block;
}

.row {
  display: flex;
  flex-direction: column;
  flex: 1;  /* ← 均等に幅を分ける */
}

.guide-text {
  text-align: left;
}
