<head th:fragment="head(cssPath, pageTitle)">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link type="text/css" th:href="@{/css/common.css}" rel="stylesheet"/>
    <link type="text/css" th:if="${cssPath != null and cssPath != ''}" th:href="${cssPath}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <title th:text="${pageTitle}">デフォルトタイトル</title>
</head>
